<?xml version="1.0"?>
<!--
/*
 * Tm Offermanager
 *
 * @category  Tm
 * @package   Offermanager
 * @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Tm_Offermanager>
            <version>0.1.0</version>
        </Tm_Offermanager>
    </modules>
    <frontend>
        <routers>
            <offermanager>
                <use>standard</use>
                <args>
                    <module>Tm_Offermanager</module>
                    <frontName>offermanager</frontName>
                </args>
            </offermanager>
        </routers>
        <layout>
            <updates>
                <offermanager>
                    <file>offermanager.xml</file>
                </offermanager>
            </updates>
        </layout>
		<events>
			<page_block_html_topmenu_gethtml_before>
				<observers>
					<controller_action_after>
						<class>offermanager/observer</class>
						<method>hookToMenuPreDispatch</method>
					</controller_action_after>
				</observers>
			</page_block_html_topmenu_gethtml_before>
		</events>
    </frontend>
    <admin>
        <routers>
			<offermanager>
				<use>admin</use>
				<args>
					<module>Tm_Offermanager</module>
					<frontName>offermanager</frontName>
				</args>
			</offermanager>
        </routers>
    </admin>
    <adminhtml> 
		<layout>
			<updates>
				<offermanager>
					<file>offermanager.xml</file>
				</offermanager>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <offermanager>
                <class>Tm_Offermanager_Model</class>
                <resourceModel>offermanager_mysql4</resourceModel>
            </offermanager>
            <offermanager_mysql4>
                <class>Tm_Offermanager_Model_Mysql4</class>
                <entities>
                    <offermanager>
                        <table>offermanager_offer</table>
                    </offermanager>
                </entities>
            </offermanager_mysql4>
        </models>
        <resources>
            <offermanager_setup>
                <setup>
                    <module>Tm_Offermanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </offermanager_setup>
            <offermanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </offermanager_write>
            <offermanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </offermanager_read>
        </resources>
        <blocks>
            <offermanager>
                <class>Tm_Offermanager_Block</class>
            </offermanager>
			<catalog>
				<rewrite>
					<product_list>Tm_Offermanager_Block_Product_List</product_list>
				</rewrite>
			</catalog>
			<page>
				<rewrite>
					<html_topmenu>Tm_Offermanager_Block_Html_Topmenu</html_topmenu>
				</rewrite>
			</page>
        </blocks>
        <helpers>
            <offermanager>
                <class>Tm_Offermanager_Helper</class>
            </offermanager>
        </helpers>
    </global>
	<default>
        <offermanager>
            <managesidebar>
                <offer_type>1</offer_type>
                <offers>5</offers>
				<offer_leftposition>1</offer_leftposition>
				<offer_rightposition>0</offer_rightposition>
            </managesidebar>
            <manageblock>
				<offerbar_category>1</offerbar_category>
				<offerbar_advancedsearch>1</offerbar_advancedsearch>
            </manageblock>
        </offermanager>
    </default>
</config>